body {
    font-family: monospace;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-links ul {
    display: flex;
    gap: 5px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    margin-bottom: 80px;
}

.header-links {
    color: #E5E7EB;
    font-size: 16PX;
}

.big-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.tiny-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.first {
    display: flex;
    flex-direction: column;
    padding: 20px 200px 80px;
    background-color: #1f2937;
    flex-grow: 1;
}

button {
    border-radius: 25px;
    background-color: #3882F6;
    color: WHITE;
    padding: 10px;
    margin-top: 10px;
    border: 0;
}

.right img {
    width: 333px;
    height: 252px;
}

.info {
    font-size: 36px;
    font-weight: 800;
    color:#1f2937;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.projetos ul {
    display: flex;
    gap: 30px;
}

.subtexto {
    text-align: center;
}